{%- capture tabs %}
  {%- capture content %}<ul>
<li>Stain-resistant material</li>
<li>Made of high density neoprene with a smooth fabric layer</li>
</ul>{% endcapture -%}
  29066^^Details^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Mousepad||^^^^^^0^^~~
  {%- capture content %}<ul>
<li>Premium Matte Paper</li>
<li>175 gsm</li>
<li>Wipes clean with napkin</li>
</ul>{% endcapture -%}
  29062^^Details^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Poster||^^^^^^0^^~~
  {%- capture content %}<ul>
<li>252 Pieces</li>
<li>10x14 inch</li>
<li>Comes in a metal tin</li>
</ul>{% endcapture -%}
  29064^^Details^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Puzzle||^^^^^^0^^~~
  {%- capture content %}<ul>
<li>80 lined pages (160 pages front and back)</li>
<li>Dimensions: 6.25" x 8.25"</li>
<li>Acid-free paper</li>
<li>Paper Stock: 70# opaque text weight paper</li>
<li>Matte laminated cover</li>
</ul>{% endcapture -%}
  29069^^Details^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Journal||^^^^^^0^^~~
  {%- capture content %}<ul>
<li>Double-sided printing</li>
<li>White, spun polyester bag</li>
<li>Black, 1 inch cotton web handles</li>
<li>Double-stitched seams</li>
<li>Non-woven laminate</li>
<li>Care: dry clean or spot clean only</li>
</ul>{% endcapture -%}
  29071^^Details^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Tote||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>Production Time: 4 business days.</strong> <em>Each item is made-to-order, just for you. It will be put into production the minute you complete your purchase.</em></li>
<li>Ships to the U.S. only</li>
</ul>{% endcapture -%}
  29061^^Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_11ozFB||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>Production Time: 4 business days.</strong> <em>Each item is made-to-order, just for you. It will be put into production the minute you complete your purchase.</em></li>
<li>Ships rolled in a tube</li>
<li>Ships worldwide</li>
</ul>{% endcapture -%}
  29063^^Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Poster||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>Production Time: 4 business days.</strong> <em>Each item is made-to-order, just for you. It will be put into production the minute you complete your purchase.</em></li>
<li>Ships to the U.S. only</li>
</ul>{% endcapture -%}
  29070^^Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Journal||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>Production Time: 4 business days.</strong> <em>Each item is made-to-order, just for you. It will be put into production the minute you complete your purchase.</em></li>
<li>Ships to the U.S. only</li>
</ul>{% endcapture -%}
  29065^^Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Puzzle||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>THIS ITEM RUNS SMALL:</strong> see Sizing Chart below.</li>
<li>Bella + Canvas 3001 Unisex Jersey Crew Neck Tee</li>
<li>Made from U.S. raw materials</li>
<li>Materials: Solid Colors - 100% Airlume combed and ring-spun cotton, 32 single 4.2 oz. (Ash - 99% Airlume combed and ring-spun cotton, 1% poly.)</li>
<li>Materials: Heather CVC/Blend Colors - 52% Airlume combed and ring-spun cotton, 48% poly.</li>
<li>Care: Safe to machine wash and tumble dry on low</li>
</ul>
<h2>Sizing Chart:</h2>
<table style="border-collapse: collapse; width: 100%; background-color: #ecf0f1; border-color: #000000; border-style: solid;" border="2">
<tbody>
<tr>
<td style="width: 33.3333%;"><strong>Size</strong></td>
<td style="width: 33.3333%;"><strong>Width</strong></td>
<td style="width: 33.3333%;"><strong>Length</strong></td>
</tr>
<tr>
<td style="width: 33.3333%;">Extra Small (XS)</td>
<td style="width: 33.3333%;">16.5</td>
<td style="width: 33.3333%;">27</td>
</tr>
<tr>
<td style="width: 33.3333%;">Small (S)</td>
<td style="width: 33.3333%;">18</td>
<td style="width: 33.3333%;">28</td>
</tr>
<tr>
<td style="width: 33.3333%;">Medium (M)</td>
<td style="width: 33.3333%;">20</td>
<td style="width: 33.3333%;">29</td>
</tr>
<tr>
<td style="width: 33.3333%;">Large (L)</td>
<td style="width: 33.3333%;">22</td>
<td style="width: 33.3333%;">30</td>
</tr>
<tr>
<td style="width: 33.3333%;">Extra Large (XL)</td>
<td style="width: 33.3333%;">24</td>
<td style="width: 33.3333%;">31</td>
</tr>
<tr>
<td style="width: 33.3333%;">XXL (2XL)</td>
<td style="width: 33.3333%;">26</td>
<td style="width: 33.3333%;">32</td>
</tr>
<tr>
<td style="width: 33.3333%;">XXXL (3XL)</td>
<td style="width: 33.3333%;">28</td>
<td style="width: 33.3333%;">33</td>
</tr>
<tr>
<td style="width: 33.3333%;">XXXXL (4XL)</td>
<td style="width: 33.3333%;">30</td>
<td style="width: 33.3333%;">34</td>
</tr>
</tbody>
</table>{% endcapture -%}
  29073^^Details^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Tee B+C 3001||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>Production Time: 4 business days.</strong> <em>Each item is made-to-order, just for you. It will be put into production the minute you complete your purchase.</em></li>
<li>Ships worldwide</li>
</ul>{% endcapture -%}
  29068^^Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Mousepad||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>Production Time: 3-4 business days.</strong> <em>Each item is made-to-order, just for you. It will be put into production the minute you complete your purchase.</em></li>
<li>Ships flat in grey poly bag</li>
<li>Ships worldwide</li>
</ul>{% endcapture -%}
  29072^^Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Tote||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>Production Time: 4 business days.</strong> <em>Each item is made-to-order, just for you. It will be put into production the minute you complete your purchase.</em></li>
<li>Ships worldwide</li>
</ul>{% endcapture -%}
  29573^^Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_MugWAWB||^^^^^^0^^~~
  {%- capture content %}<ul>
<li>Dishwasher safe</li>
<li>Microwave safe</li>
<li>Ceramic</li>
</ul>{% endcapture -%}
  29574^^Details^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_MugWAWB||^^^^^^0^^~~
  {%- capture content %}<ul>
  <li>Dishwasher safe</li>
  <li>Microwave safe</li>
  <li>Ceramic</li>
  <li>11oz</li>
</ul>{% endcapture -%}
  26392^^Details^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_11ozFB||^^^^^^0^^~~
  {%- capture content %}<ul>
  <li>Dimensions: 5" x 7"</li>
  <li>Paper Stock: 100#</li>
  <li>Paper coated for a smooth surface, dull finish and additional durability</li>
</ul>{% endcapture -%}
  26138^^Details^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Card 100# 5x7||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>Production Time: up to 6 business days.</strong> <em>Each item is made-to-order, just for you. It will be put into production the minute you complete your purchase.</em></li>
<li>Ships worldwide</li>
</ul>{% endcapture -%}
  29048^^Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Card 100# 5x7||^^^^^^0^^~~
  {%- capture content %}<ul>
<li>9.5x17.25 inch</li>
<li>Matte finished paper</li>
<li>14 pages</li>
<li>Black spiral binding</li>
<li>Hole for hanging (centered and 1.2 cm from the top)</li>
</ul>{% endcapture -%}
  29050^^Details^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Calendar||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>Production Time: 4 business days.</strong>&nbsp;<em>Each item is made-to-order, just for you. It will be put into production the minute you complete your purchase.</em></li>
<li>Wrapped in plastic</li>
<li>Ships in fitted cardboard box</li>
<li>Ships worldwide</li>
</ul>{% endcapture -%}
  29051^^Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Calendar||^^^^^^0^^~~
  {%- capture content %}<ul>
<li><strong>Estimated Production Time</strong>: see Table below.</li>
<li><em>Each item is made-to-order, just for you. It will be put into the production process after you complete your purchase.</em></li>
<li>Ships worldwide.</li>
<li>Packaged in a poly mailer.</li>
</ul>
<h2><strong>Estimated Production Time:</strong></h2>
<table style="border-collapse: collapse; width: 100%; border-color: #000000; border-style: solid; height: 228px;" border="2">
<tbody>
<tr style="height: 19px;">
<td style="width: 33.3333%; height: 19px;"><strong>Garment Color</strong></td>
<td style="width: 33.3333%; height: 19px;"><strong>Garment Size</strong></td>
<td style="width: 33.3333%; height: 19px;"><strong>Est. Production Time</strong></td>
</tr>
<tr style="height: 19px;">
<td style="width: 33.3333%; height: 19px;">Black</td>
<td style="width: 33.3333%; height: 19px;">XS, S, M, L, XL, 2XL</td>
<td style="width: 33.3333%; height: 19px;">4 business days</td>
</tr>
<tr style="height: 19px;">
<td style="width: 33.3333%; height: 19px;"><span style="color: #843fa1;">Deep Heather</span></td>
<td style="width: 33.3333%; height: 19px;"><span style="color: #843fa1;">XS, S, M, L, XL, 2XL</span></td>
<td style="width: 33.3333%; height: 19px;"><span style="color: #843fa1;">7 business days</span></td>
</tr>
<tr style="height: 19px;">
<td style="width: 33.3333%; height: 19px;"><span style="color: #843fa1;">Heather True Royal</span></td>
<td style="width: 33.3333%; height: 19px;"><span style="color: #843fa1;">XS</span></td>
<td style="width: 33.3333%; height: 19px;"><span style="color: #843fa1;">7 business days</span></td>
</tr>
<tr style="height: 19px;">
<td style="width: 33.3333%; height: 19px;">Heather True Royal</td>
<td style="width: 33.3333%; height: 19px;">S, M, L, XL, 2XL</td>
<td style="width: 33.3333%; height: 19px;">4 business days</td>
</tr>
<tr style="height: 38px;">
<td style="width: 33.3333%; height: 38px;">Kelly Green</td>
<td style="width: 33.3333%; height: 38px;">XS, S, M, L, XL, 2XL, 3XL, 4XL</td>
<td style="width: 33.3333%; height: 38px;">4 business days</td>
</tr>
<tr style="height: 19px;">
<td style="width: 33.3333%; height: 19px;">Navy</td>
<td style="width: 33.3333%; height: 19px;">XS, S, M, L, XL, 2XL</td>
<td style="width: 33.3333%; height: 19px;">4 business days</td>
</tr>
<tr style="height: 19px;">
<td style="width: 33.3333%; height: 19px;">Red</td>
<td style="width: 33.3333%; height: 19px;">S, M, L, XL, 2XL</td>
<td style="width: 33.3333%; height: 19px;">4 business days</td>
</tr>
<tr style="height: 19px;">
<td style="width: 33.3333%; height: 19px;">Team Purple</td>
<td style="width: 33.3333%; height: 19px;">XS, S, M, L, XL, 2XL</td>
<td style="width: 33.3333%; height: 19px;">4 business days</td>
</tr>
<tr style="height: 19px;">
<td style="width: 33.3333%; height: 19px;">White</td>
<td style="width: 33.3333%; height: 19px;">XS, S, M, L, XL, 2XL</td>
<td style="width: 33.3333%; height: 19px;">4 business days</td>
</tr>
<tr style="height: 19px;">
<td style="width: 33.3333%; height: 19px;"><span style="color: #843fa1;">Turquoise</span></td>
<td style="width: 33.3333%; height: 19px;"><span style="color: #843fa1;">XS, S, M, L, XL, 2XL</span></td>
<td style="width: 33.3333%; height: 19px;"><span style="color: #843fa1;">7 business days</span></td>
</tr>
</tbody>
</table>{% endcapture -%}
  29074^^Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||Vendor_Tee B+C 3001||^^^^^^0^^~~
  {%- capture content %}<p>Follow these instructions to buy and send one of our premium e-cards:</p>
<ol>
<li>Purchase the e-card like any other product</li>
<li>On the Order Confirmation page, <strong>click on the small e-card image</strong></li>
<li>Enter your name and email under <strong>From</strong></li>
<li>Enter the recipient's info under <strong>To</strong></li>
<li>Type your message to the recipient in the <strong>Personal Message</strong> field</li>
<li>Hit <strong>Send Email</strong> and your customized e-card will be sent to your recipient!</li>
</ol>{% endcapture -%}
  63004^^E-Card Instructions^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|267694538933|||^^^^^^0^^~~
{%- endcapture -%}
{%- assign tabs_array = tabs | strip | split: '~~' -%}
{%- assign p_id_str = product.id | downcase -%}
<!-- begin station shared tab data -->
{%- for item in tabs_array -%}
  {%- assign tab = item | split: '^^' -%}
  {%- assign hndl = tab[1] | replace: '&amp;', '' | handleize -%}
  {%- capture tab_output -%}
    <div id="station-tabs-data-{{ tab[0] }}" class="station-tabs-data-item" style="display:none;" data-position="{{ tab[5] | default: -1 }}">
      <a id="st-link-{{ hndl }}" class="station-tabs-link" href="#{{ hndl }}"><span>{{ tab[1] }}</span></a>
      <div id="st-{{ hndl }}" class="station-tabs-content">
        <div class="station-tabs-content-inner">{{ tab[2] }}</div>
      </div>
    </div>
  {%- endcapture -%}
  {%- assign asn = tab[3] | split: '|' -%}
  {%- assign p_ids = asn[0] | split: ',' -%}
  {%- assign e_ids = tab[4] | split: ',' -%}
  {%- unless tabs_order contains tab[0] %}{% continue %}{% endunless -%}
  {%- if e_ids contains p_id_str %}{% continue %}{% endif -%}
  {%- if tab[7] != blank%}
    {%- assign t_lcl = tab[7] | downcase -%}
    {%- assign s_lcl = request.locale.iso_code | downcase -%}
    {%- if t_lcl != s_lcl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if asn[0] == '0' or asn[1] == '0' -%} 
    {{ tab_output }}{% continue -%}
  {%- endif -%}
  {%- assign col_ids = asn[1] | split: ',' -%}
  {%- assign tags = asn[2] | split: ',' -%}
  {%- assign tps = asn[3] | split: ',' -%}
  {%- assign vndr = asn[4] | split: ',' -%}
  {%- if tab[6] == '1' %}{% assign all = true %}{% else %}{% assign all = false %}{% endif -%}
  {%- if asn[0] != blank -%}
    {%- assign all = false -%}
    {%- if p_ids contains p_id_str -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if tps.size > 1 or vndr.size > 1 %}{% assign all = false %}{% endif -%}
  {%- assign cncl = false -%}
  {%- if col_ids.size > 0 -%}
    {%- assign cols = product.collections | map: 'id' | downcase -%}
    {%- for c in col_ids -%}
      {%- if all -%}
        {%- unless cols contains c %}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif cols contains c -%}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tags.size > 0 -%}
    {%- for t in tags -%}
      {%- if all -%}
        {%- unless product.tags contains t -%}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif product.tags contains t %}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif - %}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tps.size > 0 -%}
    {%- if all and tps[0] != product.type -%}
      {%- continue -%}
    {%- elsif all == false and tps contains product.type %}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if vndr.size > 0 -%}
    {%- if all and vndr[0] != product.vendor -%}
      {%- continue -%}
    {%- elsif all == false and vndr contains product.vendor -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if all %}{{ tab_output }}{% endif -%}
{%- endfor -%}
<!-- end station shared tab data -->